@import 'variables.scss';

.container {
  width: 100%;
  background-color: $color-background;
  height: 60px;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1640px;
  height: 40px;
}