@import 'variables.scss';

.logo {
  grid-area: logo;
  height: 28px;
  width: 140px;
  padding-top: 10.77px;
}

.logoResponsive {
  display: none;
}

@media only screen and (max-width: $bp-largest) {
  .logo {
    display: none;
  }

  .logoResponsive {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: logo;
  }

  .icon {
    height: 30px;
    width: auto;
    
  }
}