@import 'variables.scss';
.NewDetailContentContainer {
	max-width: 720px;
	height: auto;
	width: 100%;
	div {
		width: 100% !important;
	}
	figure {
		width: 100% !important;
	}
	img {
		width: 100%;
		object-fit: contain;
		height: auto;
	}
	h3,
	h2,
	h4 {
		margin-top: 2.4rem;
	}
	h2 {
		font-size: $font-size-biggest;
	}
	h3 {
		font-size: $font-size-biggest;
	}
	h4 {
		font-size: $font-size-big;
	}
	ul {
		margin-top: 1.5rem;
		padding-left: 2.5rem;
	}
	iframe,
	img {
		margin-top: 2rem;
	}
	iframe {
		width: 100%;
	}
	p {
		font-size: $font-size-medium;
		text-align: left;
		letter-spacing: 0px;
		color: $color-text-80;
		margin-top: 1.5rem;
		line-height: 1.8;
		&:first-child {
			img {
				display: none !important;
			}
		}
	}
	strong {
		color: $color-text-100;
	}
	a {
		font-size: $font-size-medium;
		text-decoration: none;
		letter-spacing: 0px;
		position: relative;
		color: $color-text-90;
		&:before {
			content: '';
			height: 1px;
			width: 100%;
			position: absolute;
			bottom: 0.4px;
			background-color: $color-primary;
		}
	}
}
