@import 'variables.scss';

.container {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 40px;
	@include respond(desktop) {
		margin-top: 53px !important;
	}
}

.categories {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 32px;
	@include respond(desktop) {
		grid-row-gap: 24px;
	}
}
