@import 'variables.scss';

.container {
  background-color: $color-dark;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .125fr .125fr;
  grid-template-areas: "nav-"
                       "social-"
                       "contact-";
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(0px);
  opacity: 1;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  transition: all .3s ease-in-out 0s;
  padding: 10px 20px;
}

.menuOn {
  transform: translateX(-100vw);
  opacity: 0;
}