@import 'variables.scss';

.contact {
  margin-top: 2rem;
  font-size: $font-size-biggest;
  text-decoration: none;
  color: $color-text-100;
  display: flex;
  align-items: center;
  justify-content: center;

}

