@import 'variables.scss';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	padding: 50px 0;
}

.description {
	max-width: 720px;
	text-align: center;
	color: $color-text-90;
	margin: 0;
	margin-top: 3.2rem;
}

.sourcesList {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px 0;
}

.sourceElem {
	cursor: pointer;
	display: flex;
	list-style: none;
	align-items: center;
	max-width: 300px;
	width: 100%;
	justify-content: space-between;
	height: 60px;
	align-items: center;
}

.content {
	display: flex;
	align-items: center;
}

.favicon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.buttonContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: min-content;
	grid-column-gap: 20px;
}

.followingTag {
	color: $color-primary-40;
	font-size: $font-size-smallest;
}

.disabled {
	cursor: not-allowed;
}
