@import 'variables.scss';
.NewDetailContentContainer {
	max-width: 720px;
	height: auto;
	p {
		font-size: 16px;
		text-align: left;
		letter-spacing: 0px;
		color: $color-text-70;
		margin-top: 1.5rem;
	}
	a {
		color: $color-primary;
		font-size: 16px;
		letter-spacing: 0px;
	}
}
