@import 'variables.scss';


.list {
  list-style: none;
  display: flex;
  align-items: center;

  a{
    text-decoration: none;
    font-size: $font-size-small;

    &,
    &:link,
    &:visited {
      color: $color-text-100;
    }

    &:hover {
      color: $color-primary;
    }

  }

}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 24px;
  border-bottom: solid 1px transparent;

  &:hover {
    border-bottom: solid 1px $color-primary;
  }

}