@import 'variables.scss';

.social {
  display: flex;
  align-items: center;

  ul {
    padding-top: 2px;
  }
}
.list {
  list-style: none;
  display: flex;
  align-items: center;

  a{
    text-decoration: none;
    padding: 0 10px;

    &,
    &:link,
    &:visited {
      color: $color-text-100;
    }

    &:hover {
      color: $color-primary;
    }

  }

}