@import 'variables.scss';
.columns {
	display: grid;
	grid-template-columns: 0.7fr 0.3fr;
	background-color: $color-background-card;
	border-radius: 4px;
	overflow: hidden;
	width: 100%;
	transition: all ease-in-out 0.3s;
	&:hover {
		background-color: $color-card-hover;
		.mainImage {
			transform: scale(1.1);
		}
	}
	@include respond(desktop) {
		display: flex;
		flex-direction: column;
		background-color: $color-card-hover;
		&:hover {
			.mainImage {
				transform: scale(1);
			}
		}
	}
}
.leftColumn {
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 24px;
	padding-bottom: 24px;
	display: flex;
	flex-direction: column;
	.title {
		color: $color-text-100;
		margin-top: 24px;
		font-size: $font-size-huge;
		flex: 1;
		font-weight: 600;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
	}
	@include respond(desktop) {
		padding: 16px;
		.title {
			font-size: 3rem;
			margin-bottom: 26px;
		}
	}
}
.created_at {
	color: $color-text-40;
	font-size: $font-size-smallest;
}
.imageContainer {
	display: flex;
	cursor: pointer;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
.mainImage {
	width: 100%;
	object-fit: cover;
	transition: transform ease-in-out 0.3s;
	overflow: hidden;
	background-color: $color-background-card;
}
.icons {
	padding-left: 16px;
}
.like {
	padding-left: 32px;
}
.likeSection {
	margin-bottom: 24px;
}
.source {
	color: $color-primary-70;
	font-size: $font-size-smallest;
	display: flex;
	align-items: center;
}
.sourceIco {
	width: 12px;
	height: 12px;
	margin-right: 7px;
}
.icon {
	padding-top: 32px;
	display: flex;
	align-items: flex-end;
	cursor: pointer;
}
