@import 'variables.scss'; 

.footer {
  margin-top: 70px;
  grid-area: footer;

  li {
    list-style: none;
    padding: 0px 12px 8px;
    margin: 0;

      a {
        font-size: $font-size-small;
        color: $color-text-60;
        text-decoration: none;
        cursor: pointer;
      
        &:hover {
          color: $color-primary-80;
        }
      }
  }

  p {
    font-size: $font-size-big;
    text-align: center;
    color: $color-primary-80;
    padding-top: 8px;
    padding-bottom: 24px;
  }

}

.list {
  display: flex;
  justify-content: center;
}