@import 'variables.scss';

.value {
	color: $color-text-95;
	font-size: $font-size-biggest;
	min-width: 280px;
}

.toggle {
	color: $color-text-40;
	font-size: $font-size-small;
	cursor: pointer;
	transition: color 0.2s ease;
	&:hover {
		color: $color-primary;
	}
}

.input {
	background-color: transparent;
	color: $color-text-95;
	font-size: $font-size-biggest !important;
	border: none;
	width: 100%;
	min-width: 280px;
	font-family: 'Poppins' !important;
	&:focus {
		outline: none;
	}
}
