.BackButtonContainer {
	background-color: transparent;
	cursor: pointer;
	span {
		color: #0effa3;
		opacity: 0.95;
		font-size: 14px;
		z-index: -1;
	}
	a {
		text-decoration: none;
	}
	.svg {
		margin-right: 1rem;
	}
}
