.BackButtonContainer {
  background-color: transparent;
}
.BackButtonContainer span {
  color: #0effa3;
  opacity: 0.95;
  font-size: 14px;
}
.BackButtonContainer a {
  text-decoration: none;
}
.BackButtonContainer .svg {
  margin-right: 1rem;
}
