.BackButtonContainer {
  background-color: transparent;
  span {
    color: #0effa3;
    opacity: 0.95;
    font-size: 14px;
  }
  a {
    text-decoration: none;
  }
  .svg {
    margin-right: 1rem;
  }
}
